
.container {
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #222;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.search {
    width: 350px;
    padding: 12px;
    border: 2px solid #d0d0d0;
    border-radius: 8px;
    font-size: 15px;
}


.ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.ranking-table th {
    background: #1e3a8a;
    color: white;
    padding: 14px 10px;
    font-size: 15px;
    text-align: left;
}

.ranking-table td {
    padding: 12px 10px;
    border-bottom: 1px solid #e0e0e0;
}

.ranking-table tr {
    cursor: pointer;
}

.ranking-table tr:hover {
    background: #f0f5ff;
}

.select-box {
    padding: 8px 14px;
    font-size: 16px;
    color: white;               
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.487 4.484-4.487L16 8.547l-6 6-6-6z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;

    padding-right: 34px;
}

.select-box option {
    color: black;
    background: white;
}


.achivement___group {
    display: flex;
    gap: 12px;              
    align-items: center;    
}