.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    &__header {

        &-line {
            height: 6px;
            background: #2D2652;
        }

        &-main {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &-logo {
            max-width: 600px;
            height: 124px;
        }

        &-lang {
            text-align: right;
        }

        &-img {
            max-width: 22px;
            height: 15px;
        }
    }

    &__content {
        background-color: #f1f1f1;
        border: 1px solid #e5e5e5;
        padding: 20px 15px;
        width: 300px;
        border-radius: 4px;
        
    }

    &__link {
        font-family: Arial, Helvetica, sans-serif;
        color: #2D2652;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        display: block;
        text-align: center;
    }

    &__text {
        font-family: Arial, Helvetica, sans-serif;
        color: #999;
        line-height: 22px;
        font-size: 16px;
        font-style: italic;
        text-align: center;
        margin-bottom: 12px;
    }

    &__form {
        text-align: left;

        & label {
            display: block;
            font-size: 13px;
            color: #005490;
            font-style: normal;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-bottom: 6px;
            margin-top: 6px;
        }

        & input {
            width: 90%;
            font-size: 13px;
            padding: 7px 4px;

            &:focus {
                outline: none;
                border-color: #2b79b8;
                box-shadow: 0 0 4px rgba(43, 121, 184, 0.25);
            }
        }
    }

    &__btn {
        background: #f0f0f0;
        border: 1px solid #9f9f9f;
        border-radius: 2px;
        cursor: pointer;
        font-size: 13px;
        padding: 2px 5px;
        margin-bottom: 10px;
        max-width: 71px;
        margin-top: 12px;

        &:hover {
            background: #dcdcdc;
        }
    }


    &__help-link {
        color: #2D2652;
        text-decoration: none;
        font-size: 12px;
        display: block;
        text-align: right;
    }

    &__register {
        text-align: center;
        margin-top: 10px;

        &-link {
            font-size: 13px;
            color: #2D2652;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

        }
    }


    &__mail {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 4px;

        &-link {
            color: #2D2652;
            text-decoration: none;
            font-size: 12px;
        }
    }
}

.footer {
    background: #2D2652;
    padding: 4px 20px;
    border-top: 1px solid #FFE0C1;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &__text {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
}