.register {
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        color: #2D2652;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        display: block;
        text-align: center;
    }

    &__switch {
        text-align: center;
        margin-top: 10px;


        &-link {
            font-size: 14px;
            color: #2D2652;
            text-decoration: none;
            font-weight: bold;
            font-style: italic;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

